%section#charges

  %h1 Failed Charges
  %ul.failed
    %li
      %span.name Mike Potato
      %span.amount $30.00
      %span.date September, 13, 2013
    %li
      %span.name Leon Fuel
      %span.amount $30.00
      %span.date September, 13, 2013
    %li
      %span.name Mike Potato
      %span.amount $30.00
      %span.date September, 13, 2013

  %h1 Disputed Charges
  %ul.disupted
    %li aaa
    %li aaa
    %li aaa

  %h1 Successful Charges
  %ul.successful
    %li aaa
    %li aaa
    %li aaa